* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.box1 {
    width: 300px;
    height: 300px;
    border: solid black 5px;
    position: absolute;
    right: 0;
    top: 0;
    animation-name: box1;

    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-duration: 11s;
}

.box2 {
    width: 300px;
    height: 300px;
    border: solid black 5px;
    position: absolute;
    left: 0;
    top: 0;
    animation-name: box2;

    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-duration: 9s;
}

.box3 {
    width: 300px;
    height: 300px;
    border: solid black 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    animation-name: box3;

    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-duration: 10s;
}

.box4 {
    width: 300px;
    height: 300px;
    border: solid black 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: box4;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-duration: 10s;
}






@keyframes box2 {
    0% {
        left: 0;
        top: 0;
        background-color: black;
        transform: rotate(0deg);
    }

    25% {
        left: 77%;
        top: 0;
        background-color: gray;
        transform: rotate(45deg);
    }

    50% {
        left: 80%;
        top: 610px;
        background-color: aqua;
        transform: rotate(90deg);
    }

    75% {
        left: -10%;
        top: 500px;
        background-color: blueviolet;
        transform: rotate(180deg);
    }

    100% {
        left: 0;
        top: 0;
        background-color: black;
        transform: rotate(360deg);
    }
}

@keyframes box1 {
    0% {
        left: 0;
        top: 0;
        background-color: cyan;
        transform: rotate(0deg);

    }

    25% {
        left: 81%;
        top: 0;
        background-color: aquamarine;
        transform: rotate(45deg);

    }

    50% {
        left: 80%;
        top: 611px;
        background-color: rgb(66, 142, 152);
        transform: rotate(90deg);
    }

    75% {
        left: -10%;
        top: 560px;
        background-color: darkseagreen;
        transform: rotate(180deg);
    }

    100% {
        left: 0;
        top: 0;
        background-color: cyan;
    }
}

@keyframes box3 {
    0% {
        right: 0;
        bottom: 0;
        background-color: aqua;
    }

    25% {
        left: -10%;
        top: 560px;
        background-color: aqua;
    }

    50% {
        left: 0;
        top: 0;
        background-color: black;
    }

    75% {
        left: 81%;
        top: 0;
        background-color: blue;
    }


    100% {
        right: 0;
        bottom: 0;
        background-color: blueviolet;
    }
}

@keyframes box4 {
    0% {
        right: 0;
        bottom: 0;
        background-color: pink;
        transform: rotate(180deg);
    }

    25% {
        left: -10%;
        top: 560px;
        background-color: violet;
        transform: rotate(90deg);
    }

    50% {
        left: 0;
        top: 0;
        background-color: blueviolet;
        transform: rotate(45deg);
    }

    75% {
        left: 81%;
        top: 0;
        background-color: darkmagenta;
        transform: rotate(0deg);
    }


    100% {
        right: 0;
        bottom: 0;
        background-color: pink;
        transform: rotate(360deg);
    }
}